.cards {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.trackCards {
  display: flex;
  width: 100%;
  border: var(--border-color);
  padding-bottom: 20px;
  gap:15px;
  justify-content: space-between;
}

.homeCards {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

@media screen and (max-width: 1024px){
  .trackCards {
    /* gap: 20px; */
    overflow-x: auto;
    white-space: nowrap;
  }
  .trackCards::-webkit-scrollbar {
    display: none; 
  }

}