/* src/styles/variables.css */
:root {
  --primary-color: #2871ff;
  --secondary-color: #c4c4c4;
  --dark-secondary: #2e2e2e;
  --gray-dark: #3d3d3d;
  --background-color: #111316;
  --text-color: #000000;
  --accent-color: #2871ff;
  --black-color: #000000;
  --white-color: #ffffff;

  /* Add more color variables as needed */

  --font-family-base: "Inter";
  --font-size-base: 16px;
  --border-radius: 4px;
}
