.TrackPage {
  display: flex;
  width: 100%;
  flex-direction: column;
  gap: 50px;
  justify-content: space-between;
  width: 100vw;
  max-width: 1100px;
}
.HeroSection {
  display: flex;
  width: 100%;
  justify-content: space-between;
  gap: 30px;
}
.HeroTrackContent {
  display: flex;
  padding-bottom: 20px;
  justify-content: center;
  align-items: flex-start;
  gap: 22px;
  margin-right: auto;
}

.HeroTrackContentTrackImg img {
  display: flex;
  height: 182px;
  border-radius: 5px;
}
.HeroTrackContentTrackInfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 15px;
}
.HeroTrackContentTrackInfoWrap {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.TrackName {
  font-size: 24px;
  font-weight: 700;
}
.HeroTrackContentTrackInfoSub {
  display: flex;
  font-size: 13px;
  flex-direction: column;
  justify-content: center;
  gap: 5px;
}
.HeroTrackContentTrackInfoTags {
  display: flex;
  flex-direction: row;
  gap: 13px;
  text-wrap: nowrap;
}
.Tags {
  display: flex;
  padding: 5px;
  justify-content: center;
  align-items: center;
  gap: 2px;
  font-size: 13px;
  border-radius: 5px;
  background: var(--Dark-Secondary, #2e2e2e);
}

.Review_Trending {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 15px;
  align-self: stretch;
}
.NumberAndStars {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 8.6px;
}
.ReviewNumber {
  font-size: var(--font-size-minor);
  font-style: normal;
  line-height: normal;
}
.TrendingBox {
  display: flex;
  width: 230px;
  padding: 10px 21px;
  font-size: var(--font-size-minor);
  justify-content: center;
  align-items: center;
  gap: 10px;
  align-self: stretch;
  border-radius: 5px;
  border: 1px solid var(--border-color);
}
.TrendingNumber {
  display: flex;
  padding: 7px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  border: 2px solid var(--primary-color, #2871ff);
}
.TrackDetails {
  display: grid;
  grid-template-columns: 1fr 4fr;
}
.TrackDetails_left {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
  height: 100%;
  /* background-color: #2871ff; */
}

.TrackDetails_right {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
  height: 100%;
}
.TrendingSheetSection {
  display: flex;
  gap: 20px;
  grid-template-columns: repeat(2, 1fr);
}
.WhereToListen_Title {
  font-weight: bold;
  font-size: 1rem;
  padding: 4px 0;
  width: fit-content;
  border-bottom: 1px solid var(--border-color);
}
.WhereToListen {
  display: flex;
  flex-direction: row;
  gap: 15px;
  justify-content: left;
  align-items: center;
}
.TrackDetailsTab {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
}
.TrackDetailsTabAndLog {
  display: flex;
  flex-direction: row;
  gap: 20px;
  justify-content: space-between;
}
.TrackDetailsReviewCounter {
  display: flex;
  align-items: center;
  justify-content: center;
}

.TrackDetailsLogAndReview {
  display: flex;
  flex-direction: column;
  margin-top: 25px;
}

@media screen and (max-width: 1024px) {
  .TrendingSheetSection {
    grid-template-columns: 1fr;
  }
  .TrendingSheet2 {
    display: none;
  }
}
@media screen and (max-width: 768px) {
  .TrendingSheetSection {
    display: none;
  }
  .TrendingSheet1 {
    display: none;
  }
}
