.reviewContainer {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 5;
  background-color: #08183919;
}

.reviewCard {
  display: flex;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: fixed;
  background-color: #232529;
  padding: 5px;
  border-radius: var(--border-radius);
  border: var(--border-color) 1px solid;
  padding: 1.875rem 2.375rem;
}

.coverImage {
  display: flex;
  height: 161px;
  border-radius: var(--border-radius);
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.coverInfo {
  display: flex;
  gap: 40px;
}

.reviewContent {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
}

.topInfo {
  display: flex;
  justify-content: space-between;
}

.topTrackInfo {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.nameRelease {
  display: flex;
  gap: 10px;
}

.trackName {
  font-weight: var(--font-weight-bold);
}

.trackReleaseDate {
  font-weight: var(--font-weight-regular);
  color: var(--text-secondary-color);
}

.trackArtistName {
  font-weight: var(--font-weight-medium);
}

.listenDate {
  display: flex;
  gap: 10px;
  align-items: center;
  font-size: var(--font-size-minor);
}

.listenDate span {
  font-size: var(--font-size-minor);
}
.checkbox {
  appearance: none;
  padding: 5px;
  border-radius: 3px;
  width: 17px;
  height: 17px;
  background-color: #fff;
  cursor: pointer;
  position: relative;
}

.checkbox:checked::after {
  content: "";
  position: absolute;
  left: 5px;
  top: 2px;
  width: 4px;
  height: 8px;
  border: solid var(--border-color);
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}

.choseDate {
  position: relative;
  display: flex;
  position: relative;
  background-color: var(--border-color);
  padding: 5px;
  border-radius: var(--border-radius);
  color: var(--text-color);
  cursor: pointer;
}

.textarea {
  width: 30.68rem;
  min-height: 7rem;
  border-radius: var(--border-radius);
  padding: 10px;
  background-color: #eaeaea;
}

.reviewBtn {
  display: flex;
  justify-content: space-between;
}

.reviewBtn button {
  display: flex;
  height: min-content;
  background-color: var(--primary-color);
  color: var(--text-color);
  padding: 0.625rem 0.8125rem;
  border-radius: var(--border-radius);
}

.calender {
  position: absolute;
  top: 120%;
  right: 0;
}

.rating {
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-size: var(--font-size-minor);

}
