@import "./variables.css";

@font-face {
  font-family: "Inter";
  src: url("../styles/fonts/Inter-VariableFont_slnt,wght.ttf")
    format("truetype");
  font-weight: 100 900;
}

body {
  margin: 0;
  padding: 0;
  font-family: var(--font-family-base);
  font-size: var(--font-size-base);
  background-color: var(--background-color);
  color: var(--text-color);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  color: var(--primary-color);
  font-family: "Inter";
}

a {
  color: var(--white-color);
  text-decoration: none;
}

.btn-log {
  display: flex;
  background-color: var(--primary-color);
  border-radius: var(--border-radius);
  color: var(--text-color);
  align-items: center;
  justify-content: center;
  cursor: pointer;
  padding: 6px 10px;
}

.container {
  max-width: 1372px;
  margin: 0 auto;
  padding: 0 1em;
}
