.TabbedContentFixLyrics {
  display: flex;
  flex-direction: column;
  max-height: 336px;
  width: 100%;
  direction: rtl;
  overflow: auto;
  padding-left: 15px;
  align-items: end;
}
.lyrics {
  display: flex;
  flex-direction: column;
  gap: 15px;
  text-align: left;
  white-space: pre-wrap; /* Adicione esta linha */
}

.lyrics p {
  color: var(--font-color);
  direction: ltr;

  font-size: var(--font-size-base);
}
.TabbedContentFixLyrics::-webkit-scrollbar {
  width: 3px;
  height: 1px;
}
.TabbedContentFixLyrics::-webkit-scrollbar-thumb {
  background-color: var(--primary-color);
  border-radius: 20px;
}
.TabbedContentFixLyrics::-webkit-scrollbar-track {
  background-color: var(--secondary-color);
  width: fit-content;
  height: fit-content;
}
