.HeroTrackContentTrackInfoWrap {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.TrackName {
  font-size: 24px;
  font-weight: 700;
  text-wrap: nowrap;
}
.HeroTrackContentTrackInfoSub {
  display: flex;
  font-size: 13px;
  flex-direction: column;
  justify-content: center;
  gap: 5px;
}
.HeroTrackContentTrackInfoTags {
  display: flex;
  flex-direction: row;
  gap: 13px;
  text-wrap: nowrap;
}
.Tags {
  display: flex;
  padding: 5px;
  justify-content: center;
  align-items: center;
  gap: 2px;
  font-size: 13px;
  border-radius: 5px;
  background: var(--Dark-Secondary, #2e2e2e);
}

.TrackType {
  text-decoration: underline;
}

.TrackType:hover {
  color: var(--primary-color);
  cursor: pointer;
}

.trackHeroInfo {
  display: flex;
  gap: 10px;
  align-items: center;
}

.trackHeroTitle {
  display: flex;
  align-items: center;
  gap: 5px;
}

.trackHeroTitle svg {
  color: var(--text-secondary-color);
  width: 20px;
  height: 20px;
}

.heroReleaseYear {
  color: var(--text-secondary-color);
  font-size: var(--font-size-base);
}
