.navbar {
  display: flex;
  justify-content: space-between;
  padding: 30px 0 40px 0;
  color: var(--text-color);
  margin-bottom: 30px;
}

a {
  display: flex;
  align-items: center;
  justify-content: center;
}
.logo {
  font-size: var(--font-size-logo);
  font-weight: 800;
  color: var(--primary-color);
}
.navItens {
  display: flex;
  gap: 20px;
  font-size: var(--font-size-minor);
  padding: 10px 0px;
  align-items: center;
  justify-content: space-between;
}
.profile {
  display: flex;
  position: relative;
  align-items: center;
  border-radius: var(--border-radius) var(--border-radius) 0 0;
}

.picName {
  display: flex;
  align-items: center;
  padding: 5px 0 0 5px;
  gap: 5px;
}

.downArrow {
  display: flex;
  padding: 5px 5px 0 0;
}

.profileTop {
  display: flex;
  align-items: center;
  padding-bottom: 5px;
  gap: 20px;
}

.profile:hover {
  display: flex;
  background-color: var(--secondary-color);
  border-bottom: var(--border-color) 1px solid;
}

.dropdown {
  display: flex;
  width: 100.5%;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  padding: 5px 0;
  position: absolute;
  flex-direction: column;
  background-color: var(--secondary-color);
  border-radius: 0 0 var(--border-radius) var(--border-radius);
  z-index: 5;
}

.dropItems {
  display: flex;
  flex-direction: column;
  border-bottom: var(--border-color) 1px solid;
  gap: 3px;
}

.botItems {
  margin-top: 3px;
  display: flex;
  flex-direction: column;
}

.dropdownItem {
  display: flex;
  padding: 5px 10px;
  justify-content: start;
  border-radius: var(--border-radius);
}

.dropdownItem:hover {
  background-color: #3e3e3e;
  border-radius: 0;
}

.profileImg {
  width: 1.4rem;
  height: 1.4rem;
  border-radius: 50%;
}

.btnLog {
  display: flex;
  background-color: var(--primary-color);
  padding: 6px 10px;
  border: none;
  gap: 5px;
  border-radius: var(--border-radius);
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-weight: var(--font-weight-medium);
  color: var(--text-color);
}

.searchIconSvg,
.cancelIconSvg {
  width: 1.4rem;
  height: 1.4rem;
}
.searchBar {
  display: none;
  gap: 10px;
  border: 0;
}
.searchBarVisible {
  display: flex;
  animation: fadeIn 0.5s ease-in-out forwards;
}
.searchBar:not(.searchBarVisible) {
  animation: fadeOut 0.5s ease forwards;
}

.searchInput {
  display: flex;
  width: 10rem;
  height: fit-content;
  padding: 5px 10px;
  border: 0;
  border-radius: var(--border-radius);
  outline: none;
}

.searchInnerBar {
  padding-right: 5px;
  display: flex;
  align-items: center;
  background-color: white;
  border-radius: var(--border-radius);
}
.searchInnerBar svg {
  fill: black;
}

.submitIcon {
  position: absolute;
}

[data-theme="light"] {
  .btnLog {
    color: white;
  }
}

@media screen and (max-width: 1440px) {
  .navbar {
    width: 95%;
    width: var(--container-medium);
  }
}
@media screen and (max-width: 1024px) {
  .navbar {
    width: 90%;
    width: var(--container-small);
  }
}

@media screen and (max-width: 768px) {
  .navbar {
    width: 95%;
    width: var(--container-xsmall);
    justify-content: center;
  }
  .navItens {
    display: none;
  }
  .searchBar {
    display: none;
  }
  .searchBarVisible {
    display: none;
  }
  .searchBar:not(.searchBarVisible) {
    display: flex;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes FadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
