.navbar {
  display: flex;
  justify-content: space-between;
  width: var(--container-full);
  padding: 30px 0 40px 0;
  color: var(--white-color);
}
a {
  display: flex;
  align-items: center;
  justify-content: center;
}
.logo {
  font-size: var(--font-size-logo);
  font-weight: 800;
  color: var(--primary-color);
}
.navItens {
  display: flex;
  gap: 20px;
  font-size: var(--font-size-minor);
  padding: 10px 0px;
  align-items: center;
  justify-content: space-between;
}
.profile {
  display: flex;
  gap: 10px;
  align-items: center;
}

.profileImg {
  width: 1.4rem;
  height: 1.4rem;
  border-radius: 50%;
}

.btnLog {
  display: flex;
  background-color: var(--primary-color);
  padding: 6px 10px;
  border: none;
  gap: 5px;
  border-radius: var(--border-radius);
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-weight: var(--font-weight-medium);
}

.searchIconSvg,
.cancelIconSvg {
  width: 1.4rem;
  height: 1.4rem;
}
.searchBar {
  display: none;
  gap: 10px;
  border: 0;
}
.searchBarVisible {
  display: flex;
  animation: fadeIn 0.5s ease-in-out forwards;
}
.searchBar:not(.searchBarVisible) {
  animation: fadeOut 0.5s ease forwards;
}

.searchInput {
  display: flex;
  width: fit-content;
  height: fit-content;
  padding: 5px 10px;
  border: 0;
  border-radius: var(--border-radius);
  outline: none;
}

.submitIcon {
  position: absolute;
}
@media screen and (max-width: 1440px) {
  .navbar {
    width: 95%;
    width: var(--container-medium);
  }
}
@media screen and (max-width: 1024px) {
  .navbar {
    width: 90%;
    width: var(--container-small);
  }
}

@media screen and (max-width: 768px) {
  .navbar {
    width: 95%;
    width: var(--container-xsmall);
    justify-content: center;
  }
  .navItens {
    display: none;
  }
  .searchBar {
    display: none;
  }
  .searchBarVisible {
    display: none;
  }
  .searchBar:not(.searchBarVisible) {
    display: flex;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes FadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
