.cardContainer {
  display: flex;
  width: 230px;
  flex-direction: column;
  border: var(--gray-dark) 1px solid;
  border-radius: var(--border-radius);
  width: fit-content;
  max-width: 230px;
}

.trackCover {
  position: relative;
}

.trackCover::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(
    to bottom left,
    rgb(0, 0, 0) 0%,
    rgba(0, 0, 0, 0.709) 0%,
    rgba(0, 0, 0, 0) 15%
  );
  border-radius: var(--border-radius) var(--border-radius) 0 0;
}

.trackCover img {
  width: 100%;
  height: 100%;
  border-radius: var(--border-radius) var(--border-radius) 0 0;
}

.trackType {
  position: absolute;
  right: 0;
  z-index: 2;
  padding: 10px 10px 0 0;
}

.trackType img {
  width: 15.3px;
}

.trackInfo {
  display: flex;
  background-color: var(--dark-secondary);
  padding: 5.36px 9px;
  font-size: var(--font-size-minor);
  color: var(--white-color);
  font-weight: 400;
  justify-content: space-between;
}

.rating {
  display: flex;
  gap: 1.2px;
}

.rating img {
  width: 14px;
}
