.footer {
  display: flex;
  justify-content: center;
  width:100%;
  align-items: center;
  margin-top: 100px;
  border-top: 1px solid var(--border-color);
  padding-bottom: 100px;
}
.footinfo {
  display: flex;
  width:100%;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.logo {
  font-size: var(--font-size-logo);
  font-weight: 800;
  color: var(--primary-color);
}
.navbar {
  display: flex;
  flex-direction: row;
  gap: 65px;
  padding-top: 20px;
  justify-content: left;
}
.navItens {
  display: flex;
  flex-direction: row;
  font-size: var(--font-size-minor);
  align-items: center;
  gap: 20px;
  justify-content: space-between;
}
.socialMedia {
  display: flex;
  flex-direction: row;
  padding-top: 20px;
  gap: 20px;
  justify-content: space-between;
}

@media screen and (max-width:1248px) {
  .logo{
    font-size:2rem;
  }
}
@media screen and (max-width:480px){
  .navbar{
    display:flex;
    flex-direction: column;
    gap:25px;

  }
  .navItens{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap:5px;
    flex-wrap: wrap;
  }
  .footinfo{
    display:inline-block;
  }
  .socialMedia{
    padding-top:30px;
    justify-content:center;
  }
}
