.tabbedContent {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 10px;
}
.tabbedContentHeader {
  display: flex;
  justify-content: left;
  align-items: center;
  gap: 15px;
  width: 100%;
  border-bottom: 1px solid var(--border-color);
}
.tabbedContentBody {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 20px 0px;
}
.tabbedContentHeader button {
  color: var(--text-color);
  transition: all 0.3s ease;
  font-size: 1rem;
}
button.active {
  position: inherit;
  border-bottom: 1px solid var(--primary-color);
  color: var(--primary-color) !important;
}
.tabbedContentHeader button:hover {
  color: var(--primary-color);
}
