.tabbedContent {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 10px;
}
.tabbedContentBody {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 20px 0px;
  font-size: 13px;
}
.tabbedContentHeader {
  display: flex;
  justify-content: left;
  align-items: center;
  gap: 15px;
  width: 100%;
  border-bottom: 1px solid var(--border-color);
}
.tabbedContentHeader button {
  color: var(--text-color);
  transition: all 0.3s ease;
  font-size: 1rem;
  height: 109%;
  padding-bottom: 3px;
}
button.active {
  position: inherit;
  border-bottom: 1px solid var(--primary-color);
  color: var(--primary-color) !important;
}
.tabbedContentHeader button:hover {
  color: var(--primary-color);
}
.TabbedContentFixLyrics {
  max-height: 336px;
  width: 100%;
  direction: rtl;
  overflow: auto;
}
.TabbedContentLyrics {
  direction: ltr;
  margin-left: 20px;
}
.TabbedContentFixLyrics::-webkit-scrollbar {
  width: 3px;
  height: 1px;
}
.TabbedContentFixLyrics::-webkit-scrollbar-thumb {
  background-color: var(--primary-color);
  border-radius: 20px;
}
.TabbedContentFixLyrics::-webkit-scrollbar-track {
  background-color: var(--secondary-color);
  width: fit-content;
  height: fit-content;
}
