.SearchItemContainer {
  display: flex;
  width: 100%;
  border-radius: var(--border-radius);
  justify-content: space-between;
  gap: 30px;
  cursor: pointer;
}
.SearchItemContainer:hover {
  background-color: #202225;
  cursor: pointer;
}

.CoverInfo {
  display: flex;
  gap: 30px;
  padding: 10px 0 10px 10px;
}

.CoverInfo span {
  text-wrap: nowrap;
}

.CoverImage {
  border-color: var(--border-color);
}
.CoverImage {
  display: flex;
  height: 150px;
  border-radius: var(--border-radius);
}

.trackInfo {
  display: flex;
  justify-content: end;
  width: 100%;
  padding: 10px 10px 10px 0;
}

.topTrackInfo {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.rating {
  display: flex;
  align-items: center;
  font-size: var(--font-size-minor);
  margin-top: 10px;
  gap: 5px;
}

.sideinfo {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.trackName {
  font-weight: var(--font-weight-bold);
}

.trackReleaseDate {
  font-weight: var(--font-weight-regular);
  color: var(--text-secondary-color);
}

.trackArtistName {
  font-weight: var(--font-weight-medium);
}

.buttonLog {
  display: flex;
  width: 150px;
  justify-content: center;
  align-items: center;
  background-color: var(--primary-color);
  padding: 6px;
  border-radius: var(--border-radius);
  color: var(--text-color);
  font-weight: var(--font-weight-medium);
  gap: 5px;
}

.nameRelease {
  display: flex;
  gap: 5px;
}

.friendsListened {
  display: flex;
  gap: 5px;
  flex-direction: column;
  align-items: end;
}

.friendsListened span {
  display: flex;
  width: 100%;
  justify-content: end;
  border-bottom: var(--border-color) 1px solid;
  padding-bottom: 5px;
  font-size: var(--font-size-minor);
}

.friendsListened img {
  width: 30px;
}

.trackCover {
  position: relative;
  border-radius: var(--cover-radius) var(--cover-radius) 0 0;
  transition: ease-in-out 0.6s all;
}

.overlay {
  display: flex;
  z-index: 3;
}
.overlay img {
  width: 20px;
  height: 20px;
  margin: auto;
}

.overlay img:hover {
  cursor: pointer;
}

.overlay img:active {
  transform: scale(0.9);
}

.moreOptions {
  display: flex;
  position: absolute;
  width: fit-content;
  height: fit-content;
  padding: 6px 17px;
  border-radius: var(--border-radius);
  background-color: var(--secondary-color);
  justify-content: center;
  align-items: center;
  gap: 17px;
  z-index: 4;
  transition: ease-in-out 0.3s all;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.extraOverlay {
  display: flex;
  position: absolute;
  flex-direction: column;
  left: 105%;
  top: 15%;
  bottom: 0;
  z-index: 10;
}

.overlayOptions {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--secondary-color);
  border: var(--border-color) 1px solid;
  border-radius: var(--border-radius);
}

.overlayOptions span {
  width: fit-content;
  text-wrap: nowrap;
  color: var(--text-color);
}

.overlayOption {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 5px 40px;
  border-bottom: 1px solid var(--border-color);
}

.overlayOption:hover {
  background-color: #202225;
  cursor: pointer;
}

.trackHeroInfo {
  display: flex;
  gap: 10px;
  align-items: center;
}

.trackHeroTitle {
  display: flex;
  align-items: center;
  gap: 5px;
}

.trackHeroTitle svg {
  color: var(--text-secondary-color);
  width: 20px;
  height: 20px;
}

.heroReleaseYear {
  color: var(--text-secondary-color);
  font-size: var(--font-size-base);
}
